<!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            console.log('connect success')
            document.getElementById('my_button').onclick = function() {
                console.log("give signal")
                var question0 = $("#test").val()
                socket.emit('my_event', {'data': question0});
            };
        });
        socket.on('my_response', function(msg) {
            console.log(msg.data)
            // console.log(msg)
            document.getElementById('message_container').innerHTML += '<p>' + msg.data + '</p>';
        }); // 그냥 document.innerHTML += 이렇게 붙이면 한번밖에 작동 안함

    </script>
</head>
<body>
    <textarea type="text" id="test"></textarea>
    <button id="my_button">Click me!</button>
    <div id="message_container"></div>
</body>
</html>